/* Sidebar styles */
.sidebar {
  grid-area: sidebar;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  height: 100%;
  overflow-y: auto;
}

.sidebar-brand {
  /* padding: 10px 20px; */
  margin-bottom: 20px;
  border-bottom: red !important;
  /* font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color); */
}
.sidebar-brand img {
  margin-left: 5px !important;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 5px;
  position: relative;
}

.sidebar-menu a {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: #6c757d;
  text-decoration: none;
  transition: all 0.1s;
}

/*  */
.sidebar-menu a.active {
  background: linear-gradient(to bottom, #ffffff 40%, #f8f9fa 100%);
  border: 1px solid #dee2e6;
  color: #495057;
  border-left: 3px solid #495057;
}
.sidebar-menu a:hover {
  background: linear-gradient(to bottom, #ffffff 40%, #f8f9fa 100%);
  color: #495057;
}

.sidebar-menu i {
  margin-right: 10px;
  width: 25px;
  text-align: center;
}

.sidebar-menu span {
  margin-left: 20px !important;
}

/* Nested menu styles */
.sidebar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 45px;
  position: relative;
}

.sidebar-menu ul:before {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  border-left: 1px dashed #dee2e6;
  height: 100%;
  z-index: 1;
}

.sidebar-menu ul li {
  position: relative;
}

.sidebar-menu ul li:before {
  content: '';
  position: absolute;
  top: 15px;
  left: -20px;
  width: 15px;
  border-top: 1px dashed #dee2e6;
}

.sidebar-menu ul li a {
  padding: 8px 15px;
  font-size: 0.95em;
  display: flex;
  align-items: center;
}

.sidebar-menu ul li:last-child:before {
  height: 15px;
  border-left: none;
}

.sidebar-menu > li > a[href='#'] {
  cursor: pointer;
  position: relative;
}

/* .sidebar-menu > li > a[href='#']:after {
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  right: 20px;
  transition: transform 0.2s;
  color: #6c757d;
} */

.sidebar-menu > li:hover > a[href='#']:after {
  transform: rotate(90deg);
  color: #495057;
}

.sidebar-menu ul li a:before {
  content: '\f07b';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 5px;
  color: #6c757d;
}

.sidebar-menu ul li a:hover:before {
  content: '\f07c';
  font-weight: 900;
  color: #495057;
}
