/* Sidebar styles */
.sidebar {
  grid-area: sidebar;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  height: 100%;
  overflow-y: auto;
}

.sidebar-brand {
  /* padding: 10px 20px; */
  margin-bottom: 25px;
  border-bottom: red !important;
  /* font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color); */
}
.sidebar-brand img {
  margin-left: 5px !important;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 5px;
}

.sidebar-menu a {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: #6c757d;
  text-decoration: none;
  transition: all 0.3s;
}

.sidebar-menu a:hover,
.sidebar-menu a.active {
  background-color: rgba(67, 97, 238, 0.1);
  color: var(--primary-color);
  border-left: 3px solid var(--primary-color);
}

.sidebar-menu i {
  margin-right: 10px;
  width: 25px;
  text-align: center;
}

.sidebar-menu span {
  margin-left: 20px !important;
}
